[submodule "lib/euler-interfaces"]
	path = lib/euler-interfaces
	url = https://github.com/lastdotnet/euler-interfaces.git
[submodule "lib/euler-labels"]
	path = lib/euler-labels
	url = https://github.com/lastdotnet/euler-labels.git
